* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #EAEAEA;
    padding: 8px;
}
.icon{
    margin-right: 15px;
    block-size: 35px;
}
.buscador {
    justify-content: space-arou
}
.imagen-perfil {
    block-size: 40px;
    border-radius: 100%;
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1016px) {
    .layout-shifter {
        display: grid;
        grid-template-areas: "contenido  sidebar";
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }
    .side-bar {
        grid-area: sidebar;
    }
    
   
}
